body {
  font-family: "poppins", sans-serif;
  background-color: #0a2d61;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.img-responsive {
  max-width: 100%;
}

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 150px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Header-background-image02.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 1;
  margin: 0px 0px 20px;
}

header h2 {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  margin: 0px;
}

header h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0px;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  color: #0a2d61;
  text-decoration: none;
  border-radius: 5px;
  padding: 16px 32px;
  margin: 40px;
  display: inline-block;
}

main {
  background-color: #fff;
  color: #030414;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  color: #030414;
  margin: 0;
}

main h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #030414;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #030414;
  opacity: 0.9;
}

footer {
  background-image: linear-gradient(
      rgba(10, 45, 97, 0.8),
      rgba(10, 45, 97, 0.8)
    ),
    url(../images/footer-background-image.png);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-3-columns-2-1-1 {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

footer h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
}

footer p {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  text-align: left;
  opacity: 0.7;
}

footer ul {
  padding: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  opacity: 0.9;
}

footer li {
  list-style: none;
  opacity: 0.9;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  header h1 {
    font-size: 60px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  header a {
    font-size: 12px;
    padding: 10px 16px;
  }

  main h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  footer h3 {
    font-size: 15px;
  }

  footer p {
    font-size: 14px;
  }

  footer a {
    font-size: 14px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
